Pattern 1

In [17]:
'''

Pattern 1
Easy

1. You are given a number n.
2. You've to create a pattern of * and separated by tab as shown in output format.

Constraints
1 <= n <= 100

Format
Input
A number n

Output
*	
*	*
....n

Example
Sample Input
2

Sample Output
*	
*	*

'''

n = int(input())

for i in range(1,n+1):
    print('*\t'*i)

5
*
*	*
*	*	*
*	*	*	*
*	*	*	*	*