Pattern 2

In [1]:
'''
Pattern 2
Easy

1. You are given a number n.
2. You've to create a pattern of * and separated by tab as shown in output format.

Constraints
1 <= n <= 100

Example
Sample Input
5

Sample Output
*	*	*	*	*	
*	*	*	*	
*	*	*	
*	*	
*
'''

n = int(input())
for i in range(n,0,-1):
  print('*\t'*i)

5
*	*	*	*	*
*	*	*	*
*	*	*
*	*
*