Pattern 3

In [2]:
'''
Pattern 3
Easy

1. You are given a number n. 
2. You've to create a pattern of * and separated by tab as shown in output format.

Constraints
1 <= n <= 10

Example
Sample Input
5

Sample Output
				*
			*	*
		*	*	*
	*	*	*	*
*	*	*	*	*
'''

n = int(input())
for i in range(1,n+1):
  print( ('\t'*(n-i)) + ('*\t'*i) )

5
				*
			*	*
		*	*	*
	*	*	*	*
*	*	*	*	*